<div class="sample_set">
  <div class="collapsed" style="display:none">
    <%= image_tag 'collapsed.png', :class => "collapsed_icon" %> <%=h sample_set.name %>
      <%= link_to 'Edit', edit_sample_set_path(sample_set) %>
  </div>
  <div class="expanded">
    <%= image_tag 'expanded.png', :class => "expanded_icon" %> <%=h sample_set.name %>
      <%= link_to 'Edit', edit_sample_set_path(sample_set) %>
    <div class="sample_set_details">
      <table class="simple">
        <% sample_set.chips.each do |chip| %>
          <tr>
            <td class="outer"><%= check_box_tag "chip[#{chip.id}]" %></td>
            <td class="outer">
              <%= render :partial => "chips/show", :locals => {:chip => chip} %>
            </td>
            <td class="outer"><%= link_to 'Destroy', chip, :method => :delete, :confirm => "Are you sure you want to destroy this chip?" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
