<%= javascript_include_tag :defaults %>

<% form_tag :action => 'create' do -%>
  <%= hidden_field 'sample_set', 'submission_date'  %>
  <%= hidden_field 'sample_set', 'number_of_samples' %>
  <%= hidden_field 'sample_set', 'project_id' %>
  <%= hidden_field 'sample_set', 'chip_type_id' %>
  <%= hidden_field 'sample_set', 'naming_scheme_id' %>
  <%= hidden_field 'sample_set', 'sbeams_user' %>
  <%= hidden_field 'sample_set', 'service_option_id' %>

  <table id="table" class="nonsortable" cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
      <th>Date</th>
      <th>Name on the sample tube</th>
      <% if @sample_set.naming_scheme %>
        <% for element in @naming_elements %>
          <th><%=h element.name %></th>
        <% end %>
      <% else %>
        <th>Sample Description</th>
        <th>Sample Group</th>
      <% end %>
      <% if @sample_set.platform.multiple_labels %>
        <th>Label</th>
      <% end %>
      <th>Organism</th>
      <th>Chip Type</th>
    </tr>
    </thead>
    <% for @n in 0..@samples.size-1 %>    
      <% @n_padded = "%04d" % @n %>
      <tr>
        <% @sample = @samples[@n] %>
        <%= error_messages_for 'sample' %>
          <td><%=h @sample.submission_date %>
              <%= hidden_field :sample, :submission_date, :index =>@n_padded %></td>
          <td><%= text_field :sample, :short_sample_name, :index =>@n_padded,
                  :size => 10 %></td>

          <% if @naming_scheme == nil %>
            <td><%= text_field :sample, :sample_name, :index =>@n_padded, :size => 30 %></td>
            <td><%= text_field :sample, :sample_group_name, :index =>@n_padded, :size => 30 %></td>
          <% else %>
            <%= render :partial => 'samples/schemed_sample_description' %>
          <% end %>
          
          <% if @sample_set.platform.multiple_labels %>
            <td><%= collection_select :sample, :label_id, @labels, :id,
              :name, {}, { :index => @n_padded } %></td>
          <% end %>

          <td><%= collection_select :sample, :organism_id, @organisms, :id,
            :name, {}, { :index => @n_padded } %></td>
          
          <td><%=h @sample.chip_type.name %>
              <%= hidden_field :sample, :chip_type_id, :index =>@n_padded %></td>
          <%= hidden_field :sample, :project_id, :index =>@n_padded %>
          <%= hidden_field :sample, :naming_scheme_id, :index =>@n_padded %>
          <%= hidden_field :sample, :sbeams_user, :index =>@n_padded %>
          <%= hidden_field :sample, :status, :index =>@n_padded %>
          <%= hidden_field :sample, :service_option_id, :index =>@n_padded %>
          <%= hidden_field :sample, :ready_for_processing, :index => @n_padded %>
      </tr>
    <% end %>
  </table>

  <%= hidden_field :sample, :submission_date, :index =>@n_padded %>
  
  <%= submit_tag "Create Samples" %>
<% end -%>
