<h2>New Vendor Purchase</h2>

<%= error_messages_for :chip_purchase %>

<% form_for :chip_purchase, :url => chip_purchases_path do %>
  <p><label for="chip_purchase_date">Date</label><br/>
  <%= date_select 'chip_purchase', 'date', :use_month_numbers => true  %></p>
  
  <p><label for="chip_trasaction_lab_group">Lab Group</label><br/>
  <select id="lab_group_id" name="chip_purchase[lab_group_id]">
  <%= options_from_collection_for_select @lab_groups, "id", "name",
  @chip_purchase.lab_group_id %></select></p>

  <p><label for="chip_trasaction_chip_type">Chip Type</label><br/>
  <select id="chip_type_id" name="chip_purchase[chip_type_id]">
  <%= options_from_collection_for_select @chip_types, "id", "name",
  @chip_purchase.chip_type_id %></select></p>
  
  <p><label for="chip_trasaction_number">Number of Chips</label><br/>
  <%= text_field 'chip_purchase', 'number', 'size' => 25  %></p>
  
  <p><label for="chip_trasaction_description">Description</label><br/>
  <%= text_field 'chip_purchase', 'description', 'size' => 25  %></p>
  
  <%= submit_tag "Done" %>
<% end -%>

<%= link_to 'Back', :back %>
