<h2>New Inter-group Purchase</h2>

<%= error_messages_for :chip_intergroup_purchase %>

<% form_for :chip_intergroup_purchase, :url => chip_intergroup_purchases_path do %>
  <p><label for="chip_intergroup_purchase_date">Date</label><br/>
  <%= date_select 'chip_intergroup_purchase', 'date', :use_month_numbers => true  %></p>
  
  <p><label for="chip_trasaction_to_lab_group_id">Lab Group</label><br/>
  <select id="to_lab_group_id" name="chip_intergroup_purchase[to_lab_group_id]">
  <%= options_from_collection_for_select @lab_groups, "id", "name",
  @chip_intergroup_purchase.to_lab_group_id %></select></p>

  <p><label for="chip_trasaction_chip_type">Chip Type</label><br/>
  <select id="chip_type_id" name="chip_intergroup_purchase[chip_type_id]">
  <%= options_from_collection_for_select @chip_types, "id", "name",
  @chip_intergroup_purchase.chip_type_id %></select></p>

  <p><label for="chip_trasaction_from_lab_group_id">Buying From</label><br/>
  <select id="from_lab_group_id" name="chip_intergroup_purchase[from_lab_group_id]">
  <%= options_from_collection_for_select @lab_groups, "id", "name",
  @chip_intergroup_purchase.from_lab_group_id %></select></p>
  
  <p><label for="chip_trasaction_number">Number of Chips</label><br/>
  <%= text_field 'chip_intergroup_purchase', 'number', 'size' => 25  %></p>
  
  <%= submit_tag "Done" %>
<% end -%>

<%= link_to 'Back', :back %>
