<h2>Hybridizations</h2>

<p><%= link_to 'New Hybridizations', new_hybridization_set_path %></p>

<%= jqgrid("Hybridizations", "data_grid", grid_hybridizations_path,
	[
    { :field => "hybridization_date", :label => "Date Hybridized", :width => 140 },
    { :field => "chip_number", :label => "Chip Number", :width => 120 },
    { :field => "samples.sample_name", :label => "Sample Names", :width => 400 },
    { :field => "samples.sbeams_user", :label => "User", :width => 100 },
    { :field => "projects.name", :label => "Project", :width => 100 },
  ],
  :height => 550,
  :sort_column => "hybridization_date DESC, hybridizations.id ASC",
  #:sort_order => "desc",
  :rows_per_page => 25,
  :multi_selection => true
) %>

<p><%= submit_tag "Edit Selected Hybridization", :id => "bedata" %> 
   <%= submit_tag "Destroy Selected Hybridization", :id => "bddata" %></p>

<p><%= submit_tag "Export GCOS Files", :class => "bulk_handle_button" %>
   <%= submit_tag "Export AGCC Files", :class => "bulk_handle_button" %>
   <%= submit_tag "Export Bioanalyzer Images", :class => "bulk_handle_button" %>
